body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 12px;
}

p {
    margin: 12px;
    font-size: 20px;
}

div {
    font-size: 24px;
    border: 2px solid black;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 5px 5px;
    margin: 6px;
    padding: 6px;
    max-width: 500px;
}

#fruktMelding {
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px;
    font-weight: bold;
}

@keyframes flash {
    from {background-color: grey;}
    to {background-color: white;}
}

.feedback {
    animation-name: flash;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

/* skjelettkode
div:hover {
    border-color: orange;
}

div:active {
    border: 3px solid red;
}



*/